body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 20px;
    background-color: #f2f2f2;
}

h1 {
    color: darkblue;
    font-size: 40px;
}

h2 {
    color: gray;
    font-size: 25px;
}

p {
    font-size: 18px;
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.imagenes {
    margin-top: 30px;
}

.imagenes img {
    width: 200px;
    margin: 10px;
    border-radius: 15px;
}